.theme-5  {
	background: #607799 !important;
	color: #ffffff !important;
	font-weight: bold !important;
        font-size: 14px !important;
}
.theme-6 {
	background: #AD4B4B !important;
	color: #ffffff !important;
	font-weight: bold !important;
        font-size: 14px !important;
}
.theme-7  {
	background: #e5772a !important;
	color: #ffffff !important;
	font-weight: bold !important;
        font-size: 14px !important;
}
.theme-8  {
	background: #6D8C1E !important;
	color: #ffffff !important;
	font-weight: bold !important;
        font-size: 14px !important;
}
.theme-9 {
	background: #8CB49A !important;
	color: #ffffff !important;
	font-weight: bold !important;
        font-size: 14px !important;
}
.theme-10  {
	background: #85C1CF !important;
	color: #ffffff !important;
	font-weight: bold !important;
        font-size: 14px !important;
}
.theme-11  {
	background: #AD4B4B !important;
	color: #ffffff !important;
	font-weight: bold !important;
        font-size: 14px !important;
}
.theme-12 {
	background: #6E609D !important;
	color: #ffffff !important;
	font-weight: bold !important;
        font-size: 14px !important;
}
.theme-13  {
	background: #DC64A2 !important;
	color: #ffffff !important;
	font-weight: bold !important;
        font-size: 14px !important;
}
.theme-14  {
	background: #607799 !important;
	color: #ffffff !important;
	font-weight: bold !important;
        font-size: 14px !important;
}
.theme-15 {
	background: #888888 !important;
	color: #ffffff !important;
	font-weight: bold !important;
        font-size: 14px !important;
}
.theme-16  {
	background: #444444 !important;
	color: #ffffff !important;
	font-weight: bold !important;
        font-size: 14px !important;
}
